<div class="modal-header">
  <h4 class="modal-title">{{data.category}}: {{data.score}}</h4>
</div>
<div class="modal-body">
  <p>{{data.answer}}</p>
  <p>{{data.question_type}} is ... ?</p>
  <div class="grid-container">
    <div class="grid-item-1 {{Result[0]}}" (click)="onClick(1)">{{Spot1}}</div>
    <div class="grid-item-2 {{Result[1]}}" (click)="onClick(2)">{{Spot2}}</div>
    <div class="grid-item-3 {{Result[2]}}" (click)="onClick(3)">{{Spot3}}</div>
    <div class="grid-item-4 {{Result[3]}}" (click)="onClick(4)">{{Spot4}}</div>
  </div>
</div>
<div class="modal-footer">
  <button [disabled]="!canExit" (click)="closeModal()">
    Next Question
  </button>
</div>